*~
.DS_Store

/.emacs.d/elisps/auto-complete
/.emacs.d/.python-environments/
/.emacs.d/ac-comphist.dat
/.emacs.d/history
/.emacs.d/dict/stdafx.pch
/.emacs.d/.cask/
/.emacs.d/eshell/history
/.emacs.d/dict/stdafx.hpp*
/.emacs.d/eshell/lastdir
/.emacs.d/image-dired/
/.emacs.d/tramp
/.emacs.d/bookmarks
/.emacs.d/init_loader/workbench.xmi
/.emacs.d/semanticdb/
/.emacs.d/url/
/.emacs.d/places
/.emacs.d/srecode-map.el
/.emacs.d/irony/
/.emacs.d/recentf
/.emacs.d/session*
/.emacs.d/tutorial/Japanese.tut
/.emacs.d/init_sample.el
/.emacs.d/server
/.emacs.d/meghanada
/.emacs.d/backup
/.emacs.d/elpa
/.emacs.d/network-security.data

/node_modules