/.emacs.d/elisps/auto-complete
/.emacs.d/.DS_Store
/.emacs.d/.python-environments/
/.emacs.d/common.el~
/.emacs.d/ac-comphist.dat
/.emacs.d/history
/.emacs.d/dict/stdafx.pch
*~
/.emacs.d/.cask/
/.emacs.d/history
/.emacs.d/eshell/history
/.emacs.d/dict/stdafx.hpp.gch-4343d66f
/.emacs.d/dict/stdafx.hpp.gch-92be027f
/.emacs.d/dict/stdafx.hpp.gch-f9122f06
/.emacs.d/eshell/lastdir
/.emacs.d/image-dired/
/.emacs.d/tramp
/.emacs.d/bookmarks
/.emacs.d/init_loader/workbench.xmi
/.emacs.d/semanticdb/
/.emacs.d/url/
