*~
/.emacs.d/.cask/
/.emacs.d/history
/.emacs.d/eshell/history
/.emacs.d/.cask/24.3.1/bootstrap/archives/gnu/archive-contents
/.emacs.d/.cask/24.3.1/bootstrap/archives/melpa/archive-contents
/.emacs.d/.cask/24.3.1/bootstrap/commander-20140120.1052/commander-autoloads.el
/.emacs.d/.cask/24.3.1/bootstrap/commander-20140120.1052/commander-autoloads.el~
/.emacs.d/.cask/24.3.1/bootstrap/commander-20140120.1052/commander-pkg.el
/.emacs.d/.cask/24.3.1/bootstrap/commander-20140120.1052/commander-pkg.elc
/.emacs.d/.cask/24.3.1/bootstrap/commander-20140120.1052/commander.el
/.emacs.d/.cask/24.3.1/bootstrap/commander-20140120.1052/commander.elc
/.emacs.d/.cask/24.3.1/bootstrap/dash-20141106.455/dash-autoloads.el
/.emacs.d/.cask/24.3.1/bootstrap/dash-20141106.455/dash-autoloads.el~
/.emacs.d/.cask/24.3.1/bootstrap/dash-20141106.455/dash-pkg.el
/.emacs.d/.cask/24.3.1/bootstrap/dash-20141106.455/dash-pkg.elc
/.emacs.d/.cask/24.3.1/bootstrap/dash-20141106.455/dash.el
/.emacs.d/.cask/24.3.1/bootstrap/dash-20141106.455/dash.elc
/.emacs.d/.cask/24.3.1/bootstrap/epl-20140823.609/epl-autoloads.el
/.emacs.d/.cask/24.3.1/bootstrap/epl-20140823.609/epl-autoloads.el~
/.emacs.d/.cask/24.3.1/bootstrap/epl-20140823.609/epl-pkg.el
/.emacs.d/.cask/24.3.1/bootstrap/epl-20140823.609/epl-pkg.elc
/.emacs.d/.cask/24.3.1/bootstrap/epl-20140823.609/epl.el
/.emacs.d/.cask/24.3.1/bootstrap/epl-20140823.609/epl.elc
/.emacs.d/.cask/24.3.1/bootstrap/f-20140828.716/f-autoloads.el
/.emacs.d/.cask/24.3.1/bootstrap/f-20140828.716/f-autoloads.el~
/.emacs.d/.cask/24.3.1/bootstrap/f-20140828.716/f-pkg.el
/.emacs.d/.cask/24.3.1/bootstrap/f-20140828.716/f-pkg.elc
/.emacs.d/.cask/24.3.1/bootstrap/f-20140828.716/f.el
/.emacs.d/.cask/24.3.1/bootstrap/f-20140828.716/f.elc
/.emacs.d/.cask/24.3.1/bootstrap/git-20140128.241/git-autoloads.el
/.emacs.d/.cask/24.3.1/bootstrap/git-20140128.241/git-autoloads.el~
/.emacs.d/.cask/24.3.1/bootstrap/git-20140128.241/git-pkg.el
/.emacs.d/.cask/24.3.1/bootstrap/git-20140128.241/git-pkg.elc
/.emacs.d/.cask/24.3.1/bootstrap/git-20140128.241/git.el
/.emacs.d/.cask/24.3.1/bootstrap/git-20140128.241/git.elc
/.emacs.d/.cask/24.3.1/bootstrap/package-build-20141108.559/package-build-autoloads.el
/.emacs.d/.cask/24.3.1/bootstrap/package-build-20141108.559/package-build-autoloads.el~
/.emacs.d/.cask/24.3.1/bootstrap/package-build-20141108.559/package-build-pkg.el
/.emacs.d/.cask/24.3.1/bootstrap/package-build-20141108.559/package-build-pkg.elc
/.emacs.d/.cask/24.3.1/bootstrap/package-build-20141108.559/package-build.el
/.emacs.d/.cask/24.3.1/bootstrap/package-build-20141108.559/package-build.elc
/.emacs.d/.cask/24.3.1/bootstrap/s-20140910.334/s-autoloads.el
/.emacs.d/.cask/24.3.1/bootstrap/s-20140910.334/s-autoloads.el~
/.emacs.d/.cask/24.3.1/bootstrap/s-20140910.334/s-pkg.el
/.emacs.d/.cask/24.3.1/bootstrap/s-20140910.334/s-pkg.elc
/.emacs.d/.cask/24.3.1/bootstrap/s-20140910.334/s.el
/.emacs.d/.cask/24.3.1/bootstrap/s-20140910.334/s.elc
/.emacs.d/.cask/24.3.1/bootstrap/shut-up-20140904.44/shut-up-autoloads.el
/.emacs.d/.cask/24.3.1/bootstrap/shut-up-20140904.44/shut-up-autoloads.el~
/.emacs.d/.cask/24.3.1/bootstrap/shut-up-20140904.44/shut-up-pkg.el
/.emacs.d/.cask/24.3.1/bootstrap/shut-up-20140904.44/shut-up-pkg.elc
/.emacs.d/.cask/24.3.1/bootstrap/shut-up-20140904.44/shut-up.el
/.emacs.d/.cask/24.3.1/bootstrap/shut-up-20140904.44/shut-up.elc
