backup
elisps/auto-complete
.python-environments/
ac-comphist.dat
history
dict/stdafx.pch
.cask/
eshell/history
dict/stdafx.hpp*
eshell/lastdir
image-dired/
tramp
bookmarks
init_loader/workbench.xmi
semanticdb/
url/
places
srecode-map.el
irony/
recentf
session*
tutorial/Japanese.tut
init_sample.el
server
meghanada
elpa
network-security.data
